<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.dao.BbsDAO">

 	<insert id="insert">
 		insert into tbl_board (
 			bid, subject, content, writer
 		) values (
 			#{bid}, #{subject}, #{content}, #{writer}
 		)
 	</insert>
 	
 	<select id="read" resultType="BbsVO">
 		select 
 			bid, subject, content, writer, regdate, hit
 		from tbl_board
 		where bid=#{bid}
 	</select>
 	
 	<update id="update">
 		update tbl_board 
 		set 
 			subject=#{subject}, 
 			content=#{content}
 		where bid=#{bid}
 	</update>
 	
 	<delete id="delete">
 		delete from tbl_board 
 		where bid=#{bid}
 	</delete>
 	
 	<!-- #{startPage}는 getStartPage()메소드를 호출하는 것과 같다 -->
 	<!-- ![CDATA[]]는 xml에서 부등호와 같은 특수 기호를 문자열로 인식하도록 할 때 사용 -->
 	<!-- 반복되는 구문은 sql-include문을 사용하여 중복작성을 피함 -->
 	<sql id="searchData">
 		<if test="searchType != null">
 			<choose>
 				 <when test='searchType == "S"'>
 				 	and subject like CONCAT ('%', #{keyword}, '%')
 				 </when>
 				 <when test='searchType == "C"'>
 				 	and content like CONCAT ('%', #{keyword}, '%')
 				 </when>
 				 <when test='searchType == "W"'>
 				 	and writer like CONCAT ('%', #{keyword}, '%')
 				 </when>
 				 <when test='searchType == "SC"'>
 				 	and (subject like CONCAT ('%', #{keyword}, '%')
 				 		 or content like CONCAT ('%', #{keyword}, '%')
 				 	)
 				 </when>
 				 <when test='searchType == "CW"'>
 				 	and (content like CONCAT ('%', #{keyword}, '%')
 				 		 or writer like CONCAT ('%', #{keyword}, '%')
 				 	)
 				 </when>
 				 <when test='searchType == "SCW"'>
 				 	and (subject like CONCAT ('%', #{keyword}, '%')
 				 		 or content like CONCAT ('%', #{keyword}, '%')
 				 		 or writer like CONCAT ('%', #{keyword}, '%')
 				 	)
 				 </when>
 			</choose>
 		</if>
 	</sql>
 	
 	<select id="list" resultType="BbsVO">
 		select 
 			bid, subject, content, writer, regdate, hit
 		from tbl_board 
		<![CDATA[
		where bid>0
		]]>
 		<include refid="searchData"/>
 		order by bid desc, regdate desc 
 		limit #{startPage}, #{numPerPage}
 	</select>
 	
 	<select id="countData" resultType="int">
 		select 
 			count(bid)
 		from tbl_board 
 		<![CDATA[
		where bid>0
		]]>
 		<include refid="searchData"/>
 	</select>
 	
 </mapper>